h1 {
  font-family: $raleway;
  font-size: $xxx-large;
  font-weight: $bold;
}

h2 {
  font-family: $raleway;
  font-size: $xx-large;
  font-weight: $bold;
}

h3 {
  font-family: $raleway;
  font-size: $x-large;
  font-weight: $bold;
}
