// esquema de colores //

$White: #fff;
$Platinum: #e8e8e8;
$Gray: #bababa;

$Dark_Salmon: #ee9480;
$Melon: #f4baae;
$Pale_Pink: #Fadfda;

$ball_Blue: #2ab7ca;
$Middle_Blue: #77d1dd;
$Blue_Lagoon: #b1e4eb;

$Onyx: #333745;
$Spanish_Grey: #8f9199;
$Lavander_Gray: #c7c8cc;

$Raising_Black: #221d23;
$Nickel: #726f73;
$Silver_Chalice: #aeacaf;

// tipografias //

$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

// tamño de fuentes //

$bold: 700;
$regular: 400;

// tamaño de fuentes //


$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 23px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
